.Rproj.user
.Rhistory
.RData
.Ruserdata
Lucija_Metelko.csv
Lucija_Metelko.sqlite
Lucija_Metelko_2020-03-23.xlsx
create-xlsx-example.R
flatten-example.R
sqlite-example.R
sqlite-example2.R
Lucija_Metelko_2020-03-30.csv
Lucija_Metelko_2020-03-30.xlsx
Lucija_Metelko_last.csv
Sped.odt
Lucija_Metelko_2020-04-06.xlsx
Matjaz_Metelko.sqlite
Lucija_Metelko_2020-02-24.xlsx
Ana_Ljubi_2020-04-06.xlsx
