.Rproj.user
.Rhistory
.RData
.Ruserdata
Lucija_Metelko.csv
Lucija_Metelko.sqlite
Lucija_Metelko_2020-03-23.xlsx
create-xlsx-example.R
flatten-example.R
sqlite-example.R
sqlite-example2.R
Lucija_Metelko_2020-03-30.csv
Lucija_Metelko_2020-03-30.xlsx
Lucija_Metelko_last.csv
Sped.odt
Lucija_Metelko_2020-04-06.xlsx
Matjaz_Metelko.sqlite
Lucija_Metelko_2020-02-24.xlsx
Ana_Ljubi_2020-04-06.xlsx
min_wrk_ex.R
AnaLjubi_2020-04-06.xlsx
dasInfo.R
AnaLjubi_2020-04-09.xlsx
AnaLjubi_2020-04-13.xlsx
LucijaMetelko_2020-04-09.xlsx
LucijaMetelko_2020-04-13.xlsx
baza.sqlite
hotToRalmost.R
AnaLjubi_2020-03-30.xlsx
AnaLjubi_2020-04-20.xlsx
LucijaMetelko_2020-03-30.xlsx
LucijaMetelko_2020-04-06.xlsx
LucijaMetelko_2020-04-20.xlsx
table1.csv
table2.csv
AnaLjubi_2020-04-20.xlsx
LucijaMetelko_2020-04-20.xlsx
AnaLjubi_2020-03-30.xlsx
LucijaMetelko_2020-03-30.xlsx
LucijaMetelko_2020-04-06.xlsx
porocilo-polozaj.odt
AnaLjubi_2020-04-27.xlsx
LucijaMetelko_2020-04-27.xlsx
LucijaMetelko_april20.xlsx
AnaLjubi_april20.xlsx
AnaLjubi_2020-05-04.xlsx
LucijaMetelko_2020-05-04.xlsx
praznikiRS.odt
tidyxl.R
tidyxlOK.R
LucijaMetelko_maj20.xlsx
AnaLjubi_2020-05-18.xlsx
LucijaMetelko_2020-05-18.xlsx
layout0.dia
newUI.R
newUI2.R
screenwidth.R
xslx-formula
AnaLjubi_2021-05-10.xlsx
LucijaMetelko_2021-05-10.xlsx
